<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Danial's Portfolio</h1>
    
    {% load static %}
    <a href="{% url 'blog:all_blogs' %}">Blog</a>
    <br>
    <a href="{% static 'portfolio/Danial Resume.pdf' %}">resume</a>
    <img src="{% static 'portfolio/need-more-coffee-programmer-story-1920x1080.jpg' %}" alt="">
    {% for project in projects %}
        {{project.title}}
        {{project.description}}
        <img src="{{project.image.url}}" alt="">
        {% if project.url %}
            <br><a href="{{ project.url }}">Link</a>
        {% endif %}
    {% endfor %}
</body> 
</html>