<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Danial's Portfolio</h1>
    {% for project in projects %}
        {{project.title}}
        {{project.description}}
        <img src="{{project.image.url}}" alt="">
        {% if project.url %}
            <a href="{{ project.url }}">Link</a>
        {% endif %}
    {% endfor %}
</body>
</html>